extends base.pug

block content
    include block/main-slider.pug
    .numbers-wrap
        .container
            .number-list
                each val, index in [12,1730,82,12700]
                    .num-item
                        .num=val
                        .description тысяч квадратных метров умных домов
    .function-wrap
        .container
            .title-text управляйте домом с помощью одного клика
            .title-line
                h2 Функции
                a(href='#').more Больше функций
            .function-list
                each val, index in ['Мультирум','Раздвижные ворота','Климат','Ролеты','Безопасность','Отопление']
                    a(href="#").item.object-fit
                        img(src='../img/d1.png')
                        .title=val
            .ac-jc
                a(href='#').more.mob Больше функций
    include  block/clients.pug
    .tabs-wrapper
        .container
            .title-text Как "Умный дом" изменит Ваше жилье?
            h2 <span>Новый уровень</span> вашего комфорта и безопасности
            p.description Интеграция всех инженерных систем с «Умным домом» позволит Вам контролировать <br> их работу,  управлять ею, осуществлять постоянный мониторинг потребления ресурсов. <br>
                | Всё это Вы можете сделать с экрана своего смартфона
            .tabs
                ul.tab-list
                    each val, index in ['Пульт от телевизора', 'Пульт от кондиционера', 'Регулятор теплого пола', 'Пульт от Blue Ray', 'Терморегулятор радиатора', 'Выключатели']
                        li.tab-item
                            a(href=`#tab-${index}`).tab-link= val
                each val, index in ['Пульт от телевизора', 'Пульт от кондиционера', 'Регулятор теплого пола', 'Пульт от Blue Ray', 'Терморегулятор радиатора', 'Выключатели']
                    div(id=`tab-${index}`).tab
                        .left
                            .title Сейчас #{index}
                            img(src='../img/tab1.png')
                        .right
                            .title c MiMiSmart #{index}
                            img(src='../img/tab2.png')


