extends base.pug

block content
    include block/main-slider.pug
    .numbers-wrap
        .container
            .number-list
                each val, index in [12,1730,82,12700]
                    .num-item
                        .num=val
                        .description тысяч квадратных метров умных домов
    .function-wrap
        .container
            .title-text управляйте домом с помощью одного клика
            .title-line
                h2 Функции
                a(href='#').more Больше функций
            .function-list
                each val, index in ['Мультирум','Раздвижные ворота','Климат','Ролеты','Безопасность','Отопление']
                    a(href="#").item.object-fit
                        img(src='../img/d1.png')
                        .title=val
            .ac-jc
                a(href='#').more.mob Больше функций
    include  block/clients.pug
    .tabs-wrapper
        .container
            .title-text Как "Умный дом" изменит Ваше жилье?
            h2 <span>Новый уровень</span> вашего комфорта и безопасности
            p.description Интеграция всех инженерных систем с «Умным домом» позволит Вам контролировать <br> их работу,  управлять ею, осуществлять постоянный мониторинг потребления ресурсов. <br>
                | Всё это Вы можете сделать с экрана своего смартфона
            .tabs
                ul.tab-list
                    each val, index in ['Пульт от телевизора', 'Пульт от кондиционера', 'Регулятор теплого пола', 'Пульт от Blue Ray', 'Терморегулятор радиатора', 'Выключатели']
                        li.tab-item
                            a(href=`#tab-${index}`).tab-link= val
                each val, index in ['Пульт от телевизора', 'Пульт от кондиционера', 'Регулятор теплого пола', 'Пульт от Blue Ray', 'Терморегулятор радиатора', 'Выключатели']
                    div(id=`tab-${index}`).tab
                        .left
                            .title Сейчас #{index}
                            img(src='../img/tab1.png')
                        .right
                            .title c MiMiSmart #{index}
                            img(src='../img/tab2.png')
    .steps-wrap
        .container
            h2 <span>Этапы внедрения</span> системы умный дом
            .step-list
                each value, index in ['Проектирование','Сборка электрощитков и автоматики','Программирование и отладка','Гарантийное обслуживание','Тестовая эксплуатация','Монтаж и пусконаладка']
                    .step
                        .icon
                            img(src='../img/icon.png')
                            .num=index + 1
                        .title Сборка электрощитков и автоматики
                        .text Включает согласование ТЗ, разработку схем размещения полевого оборудования и прокладки кабельных трасс, однолиненйную схему и схему щита автоматизации, а также спецификацию оборудования
    .calc-block-wrap
        .container
            .calc-block
                h2 <span>Рассчитайте </span>свой умный дом
                .row
                    .calc-column.left
                        div.left-top
                            .square-line
                                .square-text Общая площадь:
                                .square <span>0</span> м<sup>2</sup>
                            .square-slide-wrap
                                #square-slide
                        div.left-bottom
                            .total-line Итого: <span>250 грн</span>
                            a(href='#').calc-button Отправить расчет
                            .calc-text Данный расчет носит предварительный характер и указывает на порядок цены. Стоимость в данном случае не является окончательной, она может изменяться, как в меньшую, так и в большую сторону

                    .calc-column.right
                        each val, index  in ['Электричество','Мультирум','Ворота','Климат','Ролеты','Отопление','Датчик протечки воды','Датчик движения','Датчик дыма','Сигнализация','Сценарий релакс']
                            label.calc-item
                                img(src='../img/idea 1.png').icon
                                span(data-sum=`${(index+1) * 10}`).title= val
                                input(type='checkbox')
                                span.checkbox
                        .calc-text.mob Данный расчет носит предварительный характер и указывает на порядок цены. Стоимость в данном случае не является окончательной, она может изменяться, как в меньшую, так и в большую сторону
    include  block/small-form.pug
    .completed-projects-wrap
        .container
            .title-line
                h2 Выполненые <span>проекты</span>
                a(href='#').more Больше проектов
            .project-slider
                each value in [1,2,3,4,5]
                    .project.object-fit
                        img(src='../img/project.png')
                        a(href="https://www.youtube.com/embed/GhP_nSPHBkw?autoplay=1" class='fancybox.iframe various' data-type='iframe').play-circle.white
            .ac-jc
                a(href='#').more.mob Больше проектов
    .show-room-wrap
        .container
            h2  Посетите наши <span>шоу-румы</span>
            .show-room-list
                each value in ['Капля колорита','Нежный дом','Просто почувствуй','Будь в топе']
                    .item
                        .column
                            .info
                                .title "#{value}"
                                .address г. Киев, ул. Жамбила Жабаева 22, офис 18
                            .write-button(data-src='../templates/form-success.html' data-fancybox='' data-type="iframe") Записаться
                        .img.object-fit
                            img(src='../img/room.png')
                            a.zoom(data-src='../img/room.png' data-type='image' data-fancybox)